@page "/apartaments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MLP10.Data
@using MLP10.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MLP10.Data.ApplicationDbContext> DbFactory

<PageTitle>Номера</PageTitle>

<h1>Номера</h1>

<p>
    <a href="apartaments/create">Добавить</a>
</p>

<QuickGrid Class="table" Items="context.Apartaments">
    <PropertyColumn Title="Номер комнаты" Property="apartament => apartament.ApartamentNumber" />
    <PropertyColumn Title="Тип номера" Property="apartament => apartament.ApartamentType" />
    <PropertyColumn Title="Стоимость" Property="apartament => apartament.Cost" />

    <TemplateColumn Context="apartament">
        <a href="@($"brons?id={apartament.ApartamentId}&op=1")">Брони</a> |
        <a href="@($"apartaments/edit?apartamentid={apartament.ApartamentId}")">Редактировать</a> |
        <a href="@($"apartaments/details?apartamentid={apartament.ApartamentId}")">Просмотр</a> |
        <a href="@($"apartaments/delete?apartamentid={apartament.ApartamentId}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
